<h1>Hello</h1>
<ul>
  <li><%= link_to 'Users', admin_users_path %></li>
  <li><%= link_to 'Companies', admin_companies_path %></li>
  <li><%= link_to 'Services',  admin_services_path%></li>
  <li><%= link_to 'UserActions', admin_user_actions_path %></li>
</ul>